<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847077744965-d7jdj3slhbda34jp3fo5gmntlol017q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847077744965-d7jdj3slhbda34jp3fo5gmntlol017q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCKEU5sv5HIEIUH0Cn4MuFcjn3ZiuXZBW8</string>
	<key>GCM_SENDER_ID</key>
	<string>847077744965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatClone</string>
	<key>PROJECT_ID</key>
	<string>chatclone-e690b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatclone-e690b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847077744965:ios:7c6378251ccccd3fe05e2c</string>
</dict>
</plist>